<section>
  <footer class="footer bg-theme mb-0 py-3">
    <i class="fa-solid fa-angles-up scroll-up" id="scroll-up"></i>
    <div class="d-flex justify-content-center mb-3">
        
      <a href="https://www.linkedin.com/in/iamshivprakash" target="_blank"><img src="{{url_for('static',filename='img/linkedin.png')}}" alt="linkedin" class="social-icon"></a>
      <a href="https://www.github.com/iamshivprakash" target="_blank"><img src="{{url_for('static',filename='img/github.png')}}" alt="linkedin" class="social-icon"></a>
      <a href="https://www.instgram.com/shi_pra_" target="_blank"><img src="{{url_for('static',filename='img/instagram.png')}}" alt="linkedin" class="social-icon"></a>
      <a href="https://www.twitter.com" target="_blank"><img src="{{url_for('static',filename='img/twitter.png')}}" alt="linkedin" class="social-icon"></a>
      <a href="https://www.facebook.com/" target="_blank"><img src="{{url_for('static',filename='img/facebook.png')}}" alt="linkedin" class="social-icon"></a>
    </div>
    <div class="container d-flex justify-content-center">
      <span class="text-white copyright">© SHIV PRAKASH <script>document.write(new Date().getFullYear())</script> | MADE WITH ❤️ IN INDIA.</span>
    </div>
  </footer>
</section>