<section id="header">
    <div class="header">
        <div class="navBar">
            <div class="brand">
                <a href="/"><img src="{{url_for('static',filename='img/profile.jpg')}}" alt="profile"></a>
            </div>
            <div class="navList">
                <div class="hamburger">
                    <div class="bar"></div>
                </div>
                <ul class="navListElements">
                    <li><a href="/" class="nav-link">Home</a></li>
                    <li><a href="/about" class="nav-link">About</a></li>
                    <li><a href="/projects" class="nav-link">Projects</a></li>
                    <li><a href="/certifications" class="nav-link">Certifications</a></li>
                    <li><a href="/blog" class="nav-link">Blog</a></li>
                    <li><a href="/contact" class="nav-link">Contact</a></li>
                    <li>
                        <form class="d-flex">
                            <input class="search" type="search" placeholder="Search" aria-label="Search"> 
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>






























<!-- 
<section>
    <nav class="navbar navbar-expand-lg bg-theme ">
        <div class="container d-flex justify-content-around">
            <a href="/" class="navbar-brand text-white"><img src="{{ url_for('static',filename='img/profile.jpg')}}"
                 alt="profile" class="profile img-fluid">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggle"></span>
            </button>
            <div class="collapse d-flex justify-content-around navbar-collapse" id="navbarNav">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/projects">Projects</a>
                <a href="/certifications">Certifications</a>
                <a href="/blog">Blog</a>
                <a href="/contact">Contact</a>
                <form class="d-flex">
                    <input class="search" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success btn-sm" type="submit">Search</button> 
                </form>
            </div>
        </div>
    </nav>    
</section>  -->


